<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <commerce.customers.getUser>
          <processor type="Feature.LoyaltyPoints.Website.Pipelines.GetUserWithCoupons, Feature.LoyaltyPoints.Website" patch:instead="*[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Customers.GetUser, Sitecore.Commerce.Engine.Connect']">
          <param ref="entityFactory"/>
        </processor>
      </commerce.customers.getUser>
    </pipelines>
  </sitecore>
</configuration>
