<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <feature.loyaltypoints.getCustomerCoupons>
          <processor type="Feature.LoyaltyPoints.Website.Pipelines.GetCustomerCoupons, Feature.LoyaltyPoints.Website">
          <param ref="entityFactory"/>
        </processor>
      </feature.loyaltypoints.getCustomerCoupons>
    </pipelines>
    <services>
      <register serviceType="Feature.LoyaltyPoints.Website.Repositories.ICouponRepository, Feature.LoyaltyPoints.Website" implementationType="Feature.LoyaltyPoints.Website.Repositories.CouponRepository, Feature.LoyaltyPoints.Website" lifetime="Singleton" />
      <register serviceType="Feature.LoyaltyPoints.Website.Managers.ICouponManager, Feature.LoyaltyPoints.Website" implementationType="Feature.LoyaltyPoints.Website.Managers.CouponManager, Feature.LoyaltyPoints.Website" lifetime="Singleton" />
      <configurator type="Feature.LoyaltyPoints.Website.Configurators.RegisterDependencies, Feature.LoyaltyPoints.Website" />
    </services>
  </sitecore>
</configuration>
