@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
 
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Feature.LoyaltyPoints.Website.Models

@model LoyaltyCouponsRenderingModel

@*
    data-cxa-model references the JavaScript class that will manage knockout.js behavior. This follows the pattern of CXA's OrdersViewModel.

*@
<div @Html.Sxa().Component("cxa-unusedcoupons-component", Model.Attributes)
     data-cxa-component-class="UnusedCoupons"
     data-cxa-component-initialized="false"
     data-cxa-component-model="CouponsViewModel"
     data-cxa-component-type="component">
    <hr />
    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            <p>@Model.ErrorMessage</p>
        </div>
    }
    else
    {

        <div class="component-content">
             <div class="unused-components-list">
              
                <table data-bind="visible: coupons().length">
                    <thead>
                    <tr>
                        <th>Coupons</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: coupons">
                    <tr>
                        <td data-bind="text: name"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>


@* TODO Figure out the CXA way to register these: *@

<script src="/Scripts/Commerce/Feature/LoyaltyPoints/cxa.feature.coupons.model.js"></script>
<script src="/Scripts/Commerce/Feature/LoyaltyPoints/cxa.feature.unusedcoupons.js"></script>


